/*Kithmini IT22594990*/
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Sedgwick+Ave+Display&family=Sofia+Sans+Condensed:wght@600&display=swap');

.body{
    background-color: rgb(219, 232, 245);
}
.a{
    width: 150px;
    height: 50px;
    background-color:rgb(172, 68, 247);
    color: white;
    text-align: center;
    font-family:Anton; 
}
.hed{
    width:1320px;
    height:400px;
    margin-left: auto;
    margin-right: auto;
}

.us{
    text-align: left;
    background-color: khaki;
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
